<div class="calibre">
	<div class="calibre1">
		<img src="[[img]]" class="calibre2[[rotate]]" />
	</div>
	<div id="PV" class="calibre3">
		<div id="PV-TL" class="calibre4">
			<a class="app-amzn-magnify" data-app-amzn-magnify='{"targetId":"PV-TL-P", "ordinal":1}'></a>
		</div>
		<div id="PV-TR" class="calibre5">
			<a class="app-amzn-magnify" data-app-amzn-magnify='{"targetId":"PV-TR-P", "ordinal":2}'></a>
		</div>
		<div id="PV-BL" class="calibre6">
			<a class="app-amzn-magnify" data-app-amzn-magnify='{"targetId":"PV-BL-P", "ordinal":3}'></a>
		</div>
		<div id="PV-BR" class="calibre7">
			<a class="app-amzn-magnify" data-app-amzn-magnify='{"targetId":"PV-BR-P", "ordinal":4}'></a>
		</div>
	</div>
	<div class="pv-p" id="PV-TL-P" data-AmznRemoved="mobi7">
		<img src="[[img]]" class="calibre8[[rotate]]" />
	</div>
	<div class="pv-p" id="PV-TR-P" data-AmznRemoved="mobi7">
		<img src="[[img]]" class="calibre9[[rotate]]" />
	</div>
	<div class="pv-p" id="PV-BL-P" data-AmznRemoved="mobi7">
		<img src="[[img]]" class="calibre10[[rotate]]" />
	</div>
	<div class="pv-p" id="PV-BR-P" data-AmznRemoved="mobi7">
		<img src="[[img]]" class="calibre11[[rotate]]" />
	</div>
</div>
